<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Flask Button Example</h1>
    <button onclick="callPythonFunction()">Call Python Function</button>
    <script>
        function callPythonFunction() {
            // 使用Ajax请求的方式调用Python函数
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{{ url_for('python_function') }}", true);
            xhr.onreadystatechange=function(){
                if (xhr.readyState === 4 && xhr.status === 200){
                    console.log("Python function called successfully.");
                }
            };
            xhr.send('name');
        }
    </script>
</body>
</html>